.top-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  &__score {
    font-weight: bold;
    margin-right: 30px;
    white-space: nowrap;
  }
  &__replay-icon {
    font-size: 16px !important;
    margin-left: 60px;
  }
}

@media (max-width: 651px) {
  .top-bar {
    &__score {
      margin-right: 15px;
    }
    &__replay-icon {
      display: none;
    }
  }
}